.bg {
  background-color: rgb(216, 218, 61);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 1000px;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(128, 0, 128);
  margin-bottom: 600px;
}
.center > div {
  margin: 10px;
}
.title {
  font-size: 30px;
  font-weight: 900;
}
.left {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.post {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 0px 15px 0px 0px;
  margin: 10px 0px;
  padding: 3px 20px 3px 5px;
}

.deco {
  text-decoration: none;
  color: rgb(128, 0, 128);
}

.dotted {
  border: 1px dotted;
}
