.title {
  font-size: 30px;
  font-weight: 700;
}

.margin {
  margin-top: 20px;
}
.inner {
  background-color: yellow;
  text-align: center;
}
.ul {
  list-style-type: none;
  display: inline-block;
  margin: 10px auto;
}
.li {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
  padding: 0px 20px;
}
